@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
}

:root {
	--toggle-time: 0.5s;
}

body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
	margin: 50px 0 50px 0;
	transition: var(--toggle-time);
}

hr {
	background-color: lightgray;
	margin: 35px;
}

.container {
	width: 80%;
	min-height: 90vh;
	height: auto;
	padding: 20px 20px 0 20px;
	margin: 0 150px 0 150px;
	border: none;
	border-right: 1px solid lightgray;
	border-left: 1px solid lightgray;
}

.container-intro {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.intro-left img {
	width: 200px;
	border-radius: 50%;
}

.intro-right {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-end;
	height: 170px;
}

.intro-right-button {
	position: absolute;
	top: -25px;
	right: -135px;
	width: 30px;
	height: 30px;
	background: none;
	border: none;
	font-size: 25px;
	cursor: pointer;
	transition: var(--toggle-time);
}

.intro-right-name {
	font-size: 35px;
}

.intro-right-info {
	color: dimgray;
	font-size: 15px;
}

.socials {
	text-align: right;
	margin-top: 50px;
}

.socials a {
	color: gray;
}

.socials i {
	font-size: 23px;
	margin-right: 5px;
	transition: color 0.2s;
}

.github:hover {	color: #010409; }

.linkedin:hover { color: #0077b5; }

.x-twitter:hover { color: black; }

.discord:hover { color: #5865f2; }

.mail:hover { color: black; }

.container-in {
	margin: 0 0 35px 35px;
}

.skills-table {
	margin-top: 20px;
	border-collapse: collapse;
	border: 1px solid lightgray;
}

.st-head-row {
	text-align: left;
	font-size: 20px;
	border-bottom: 1px solid lightgray;
	background-color: #f0f0f0;
	transition: var(--toggle-time);
}

.skills-table tr > td {
	font-weight: bold;
	border-right: 1px solid lightgray;
}

.skills-table td,
.skills-table th {
	padding: 15px 10px;
	border-right: 1px solid lightgray;
}

.skills-table tbody tr {
	border-bottom: 1px solid lightgray;
}

.projects-box {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
}

.project {
	margin-right: 25px;
	margin-bottom: 30px;
	border: 1px solid lightgray;
	border-radius: 10px;
	transition: 0.3s;
}

.project:hover {
	box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
	scale: 1.05;
}

.project a {
	color: black;
	text-decoration: none;
	transition: var(--toggle-time);
}

.project img {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 300px;
}

.project-desc {
	padding: 10px;
}

.project-desc p {
	color: gray;
}

/*CSS for dark mode*/

.dark-body {
	color: white;
	background-color: black;
}

.dark-intro-right-button {
	color: white;
}

.dark-socials:hover {
	color: white;
}

.dark-st-head-row {
	background-color: #333;
}

.dark-project:hover {
	box-shadow: 3px 3px 20px rgba(255, 255, 255, 0.5);
}

.dark-project a {
	color: white;
}

@media (max-width: 815px) {
	hr {
		margin: 0 0 25px 0 ;
	}

	.container-intro {
		align-items: flex-start;
	}

	.intro-left img {
		width: 100px;
	}

	.intro-right-button {
		font-size: 20px;
		right: -25px;
	}

	.intro-right-name {
		font-size: 27px;
	}

	.intro-right-info {
		font-size: 13px;
	}

	.socials {
		margin-top: 0;
	}

	.container-in {
		margin-left: 0;
	}
}