/* -------------------------------------------- */

/* ---------------- Common CSS ---------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
	margin: 0;
	padding: 0;
}

body{
	background: linear-gradient(to bottom right, rgb(0, 0, 50), rgb(0, 0, 23));
	color: white;
	font-family: 'Poppins', sans-serif;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 80px;
	background-color: rgb(0, 0, 62);
}

nav ul{
	display: flex;
	justify-content: center;
	font-size: 1.5rem;
}

nav ul li{
	list-style: none;
	margin: 0 23px;
}

nav ul li a{
	text-decoration: none;
	color: white;
	display: inline-block;
  	position: relative;
  	transition: 0.40s;
}

nav ul li a::after{
	content: '';
  	position: absolute;
  	width: 100%;
  	transform: scaleX(0);
  	height: 3px;
  	bottom: 0;
  	left: 0;
  	background-color: #7278ed;
  	transform-origin: bottom;
  	transition: transform 0.25s ease-out;
}

nav ul li a:hover::after{
	transform: scaleX(1);
  	transform-origin: bottom;
}

nav ul li a:hover{
	letter-spacing: 0.1em;
	color: #7278ed;
}

hr{
	color: blue;
	height: 0.001px;
	margin: 60px 90px;
}

.left{
	font-size: 2rem;
}

.left-a{
	color: white;
	text-decoration: none;
}

.firstSection{
	display: flex;
	justify-content: space-around;
	margin: 130px 0;
	align-items: center;
}

.firstSection > div{
	width: 30%;
}

footer{
	background-color: #00003e;
}

.footer{
	display: flex;
	padding: 32px 122px;
	justify-content: space-evenly;
}

.footer-first a{
	text-decoration: none;
	color: white;
}

.footer-second ul{
	list-style: none;
	position: relative;
	right: -60px;
}

.footer-second ul a{
	color: white;
	text-decoration: none;
	transition: 0.27s;
}

.footer-second ul a:hover{
	color: #7278ed;
}

.footer-rights{
	text-align: center;
	color: gray;
	padding: 12px 0px;
}

.footer-h3{
	position: relative;
	left: -300px;
	background-color: #01011a;
	padding: 15px;
	border-radius: 0.7em;
}

.footer-rights a{
	text-decoration: none;
	color: gray;
}

.footer-rights a:hover{
	text-decoration: underline;
}



/* ------------------------------------------------ */

/* ---------------- For index.html ---------------- */


.home{
	color: #7278ed;
}

.leftSectionIndex{
	font-size: 2rem;
	background: linear-gradient(to right, #01011a, #00003f);
	border-radius: 0.5em;
	padding: 15px;
	padding-left: 30px;
	border: 2px solid white;
}

.leftSectionIndex .btn{
	padding: 15px;
	background-color: black;
	border: none;
	font-size: 20px;
	color: white;
	border-radius: 11px;
	cursor: pointer;
	margin-top: 10px;
	transition: 0.5s;
}

.leftSectionIndex .btn:hover{
	color: black;
	background-color: gray;
	letter-spacing: 0.08em;
}

.rightSection img{
	width: 80%;
}

#animated-text{
	color: #f03535;
}


/* ------------------------------------------------ */

/* ---------------- For about.html ---------------- */


.about{
	color: #7278ed;
}

.red{
	color: #f03535;
}

.green{
	color: rgb(3, 168, 3);
}

.orange{
	color: orange;
}

.secondSection{
	max-width: 80vw;
	margin: auto;
	height: 80vh;
}

.secondSection h1{
	font-size: 2rem;
}

.secondSection .box{
	background: white;
	height: 2px;
	width: 80vw;
	margin:  56px 0;
	display: flex;
}

.secondSection .vertical{
	height: 93px;
	width: 2px;
	background-color: white;
	margin: 0 130px;
}

.image-top{
	width: 40px;
	position: relative;
	top: -55px;
	left: -18px;
}

.vertical-title{
	position: relative;
	top: 50px;
	left: -3px;
	width: 150px;
	font-size: 20px;
}

.vertical-desc{
	position: relative;
	top: 65px;
	left: -3px;
	width: 150px;
	color: gray;
	font-size: 13px;
}

.vertical-desc a{
	color: gray;
	cursor: pointer;
}

.vertical-desc a:hover{
	text-decoration: none;
	color: #7278ff;
}

.thirdSection{
	max-width: 80vw;
	margin: auto;
	height: 160vh;
}

.projectBox{
	display: flex;
	justify-content: space-around;
	margin: 13px 0;
	align-items: center;
}

.thirdSection h1{
	font-size: 2rem;
}

.thirdSection img{
	width: 250px;
	border-radius: 20px;
}

.imageBox{
	margin-top: 20px;
	width: 250px;
	height: 350px;
	border-radius: 20px;
	border: 3px solid white;
	background-color: white;
	transition: 0.25s;
}

.imageBox:hover{
	box-shadow: 0px 3px 50px rgba(113, 115, 119, 1);
	scale: 1.2;
}

.imageBox a{
	margin-top: 35px;
	text-decoration: none;
}

.imageInfo{
	background-color: white;
	font-size: 20px;
	color: black;
	text-align: center;
	border-radius: 15px;
}

#clock{
	margin-top: 50px;
}

#clockInfo{
	padding-top: 63px;
}

#ticInfo{
	padding-top: 30px;
}

#scissorPaperRock{
	margin-top: 50px;
}

#scissorPaperRockInfo{
	margin-top: 60px;
}

#todoInfo{
	margin-top: 45px;
}

.githubLink{
	text-align: center;
	margin: 50px 0;
}

.githubLink a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	transition: 0.25s;
}

.githubLink a:hover{
	color: #7278ed;
}


/* -------------------------------------------------- */

/* ---------------- For contact.html ---------------- */

.contact{
	color: #7278ed;
}

#find-me{
	font-size: 20px;
}

#find-me img{
	position: relative;
	top: 3px;
	width: 20px;
	color: white;
}

#find-me a{
	text-decoration: none;
	color: white;
	transition: 0.25s;
}

#find-me a:hover{
	color: #7278ed;
}


/* --------------------------------------------------------------- */

/* ---------------- For index.html and about.html ---------------- */

.purple{
	color: rgb(165, 3, 165);
}

.gray{
	color: gray;
	font-size: 13px;
}


/* ----------------------------------------------------------------- */

/* ---------------- For about.html and contact.html ---------------- */

.leftSection img{
	width: 450px;
	border-radius: 30px;
}

.rs-box{
	background: linear-gradient(to right, #01011a, #00003f);
	border-radius: 0.5em;
	padding: 15px;
	padding-left: 30px;
	font-size: 27px;
	margin-bottom: 10px;
	border: 2px solid white;
	box-shadow: 0px 3px 50px rgba(113, 115, 119, 1);

}

@media screen and (max-width: 1300px){

	/* -------------------------------------------- */

	/* ---------------- Common CSS ---------------- */

	body{
		overflow-x: hidden;
	}

	nav{
		flex-direction: column;
	}
	
	.left{
		margin-left: 3px;
	}

	.firstSection{
		flex-direction: column;
	}

	.firstSection img{
		margin: 15px 0;
	}

	.footer-h3{
		left: -50%;
	}

	hr{
		margin: 30px 50px;
	}

	/* ------------------------------------------------ */

	/* ---------------- For index.html ---------------- */

	.firstSection #firstDivIndex{
		width: 250px;
		font-size: 17px;
	}

	.leftSectionIndex .btn{
		font-size: 17px;
	}

	.leftSectionIndex{
		margin-top: -70px;
		width: 50px;
	}

	.rightSection img{
		margin-top: 40px;
		margin-bottom: -50px;
		width: 200px;
		position: relative;
		left: -50px;
	}

	/* ------------------------------------------------ */

	/* ---------------- For about.html ---------------- */

	html{
		overflow-y: scroll;
	}

	.projectBox{
		flex-direction: column;
	}

	.secondSection{
		height: 70vh;
	}

	.thirdSection{
		height: 300vh;
	}

	.box{
		flex-direction: column;
	}

	.image-top{
		top: 21px;
	}

	.vertical{
		position: relative;
		left: -100px;
		height: 0;
	}

	.vertical-title{
		width: 210px;
		top: -26px;
		left: 33px;
		font-size: 1rem;
	}

	.vertical-desc{
		width: 205px;
		top: -26px;
		left: 35px;
	}

	/* -------------------------------------------------- */

	/* ---------------- For contact.html ---------------- */

	#find-me img{
		top: -47px;
		left: 0px;
	}

	#contactEmail{
		font-size: 16px;
	}

	/* ----------------------------------------------------------------- */

	/* ---------------- For about.html and contact.html ---------------- */
	
	.rs-box{
		font-size: 19px;
		width: 250px;
		position: relative;
		left: -100px;
	}

	.leftSection img{
		position: relative;
		left: -75px;
		width: 250px;
	}

	#firstSectionAbout, #firstSectionContact{
		position: relative;
		top: -80px;
		margin-bottom: -30px;
	}


}

@media screen and (max-width: 600px){

	/* -------------------------------------------- */

	/* ---------------- Common CSS ---------------- */

	nav ul{
		font-size: 1.2rem;
	}

	nav ul li{
		margin: 0 9px;
	}

	.left{
		font-size: 1.5rem;
	}
}

