.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.details-container {
  width: 40%;
}

.project-name {
  display: inline;
  color: #fff;
  text-decoration: underline;
  margin-right: 10px;
}

.project-source {
  color: #aaa;
}

.project-desc {
  margin-bottom: 20px;
}

.project-stack {
  margin-top: 20px;
}

.stack-title {
  font-size: 23px;
  text-decoration: underline;
}

.project-image {
  width: 40%;
}

@media (max-width: 900px) {
  .project-container {
    flex-direction: column;
    align-items: center;
  }

  .details-container,
  .project-image {
    margin: 10px 0;
    width: 90%;
  }
}
